[submodule "source/lib/batteries"]
	path = source/lib/batteries
	url = https://github.com/1bardesign/batteries/
[submodule "editor/lib/Slab"]
	path = editor/lib/Slab
	url = https://github.com/flamendless/Slab/
[submodule "editor/lib/batteries"]
	path = editor/lib/batteries
	url = https://github.com/1bardesign/batteries/
[submodule "editor/lib/serpent"]
	path = editor/lib/serpent
	url = https://github.com/pkulchenko/serpent
[submodule "editor/lib/nativefs"]
	path = editor/lib/nativefs
	url = https://github.com/megagrump/nativefs
[submodule "source/lib/moonshine"]
	path = source/lib/moonshine
	url = https://github.com/flamendless/moonshine
